
#card {
    width: 100%;
    background: $color-backgraund;
}
.card__wrapper {
    max-width: 1200px;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 100px;
    @include media-tablet {
        max-width: 768px;
        padding: 0 30px;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    @include media-mobilesmall {
        max-width: 300px;
        padding: 42px 10px;
    }
}

.card__content {
    width: 100%;
    @include media-tablet {
        max-width: 708px;
        margin: 0;
    }
    @include media-mobilesmall {
        max-width: 300px;
        margin: 0;
    }
}
.card__title{
    max-width: 400px;
    text-align: center;
    @include font($size: 3.5rem, $height: 130%, $weight: 400);
    padding-bottom: 60px;
    text-align: center;
    margin-top: 30px;
    margin: 0 auto;
    color: $color-additional;
    letter-spacing: 0.06em;
    @include media-tablet {
        max-width: 400px;
        text-align: center;
        padding: 0;
        margin: 0 154px 60px 154px;
    }
    @include media-mobilesmall {
        max-width: 300px;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 42px;
        @include font ($size: 2.5rem, $height: 130%, $weight: 400);
    }
}

.animal__title {
   text-align: center;
    color: $color-additional;
    letter-spacing: 0.06em;
}

.card__animal__woody {
    @include media-tablet {
        display: none;
    }
}
.card__animal__jennifer {
    @include media-mobilesmall {
        display: none;
    }
}
.card__animal {
    position: relative;
    max-width: 270px;
    height: 435px;
    background: $color-card;
    border-radius: 9px;
    text-align: center;
    &:hover {
        background-color: $color-change;
        cursor: pointer;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            .button_bordered {
                cursor: pointer;
                border: none;
                background: $color-hover;
            }
            img {
                background-color: $color-card;
            }
    }
         
   
}


.promo__button {
    letter-spacing: 0.06em;
    text-align: center;
}


