.box-container {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @include media-mobilesmall {
        display: block;
        align-items: flex-start;
        
    }
}

.item {
    gap: 90px;
    @include media-tablet {
        gap: 40px;
    }
}
.carousel-wrapper {
    max-width: 990px;
    overflow: hidden;
    @include media-tablet {
        max-width: 708px;
    }
    @include media-mobilesmall {
        width: 360px;
    }
}
.item, .carousel {
    display: flex;
}

.carousel {
    position: relative;
    left: -1080px;
    gap: 90px;
    @include media-tablet {
        left: -620px;
    }
    @include media-mobilesmall {
        left: -360px;
    }
}


@keyframes move-right {
    from {left: -1080px;}
    to {left: -1980px;}
   
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

@keyframes move-left {
    from {left: -990px;}
    to {left: 0;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}