.promo {
    padding: 60px 40px 0 40px;
    @include media-tablet {
        padding: 60px 100px 0 99px;
    }
    @include media-mobilesmall {
        width: 300px;
        padding: 0 10px;
        padding-top: 60px;
    }
}

.promo__wrapper {
    max-width: 1200px;
    @include media-tablet {
        max-width: 569px;
    }
    @include media-mobilesmall {
        max-width: 100%;
        
    }
    
}
.promo__blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    @include media-tablet {
        display: flex;
        flex-direction: column; 
    }
    @include media-mobilesmall {
        display: flex;
        flex-direction: column;
    }
}
.promo__content {
    max-width: 460px;
    margin-right: 42px;
    @include media-tablet {
    margin-bottom: 155px;
    }
    @include media-mobilesmall {
        max-width: 300px;
        margin-bottom: 0px;
        margin-right: 0;
       
    }
}

.promo__title{
    max-width: 310px;
    color: $color-light;
    margin: 0;
    @include media-mobilesmall {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0.06em;
    }
   
}

.promo__text {
    max-width: 460px;
    @extend %font-add;
    padding: 42px 0;
    margin: 0;
    color: $color-promo;
    @include media-mobilesmall {
        max-width: 300px;
        text-align: center;
        margin: 0;
    }
}

.promo__image { 
    padding-right: 40px;
    @include media-tablet {
       
        padding-left: 70px;
        padding-right: 0px;
    }
    @include media-mobilesmall {
        
        padding-left: 40px;
    }
}


.puppy__image {
    display: block;
    max-width: 698px;
    @include media-tablet {
        width: 569px;
    }
    @include media-mobilesmall {
        margin-top: 115px;
        max-width: 260px;
        
        
    }
}

