$color-primary: #F6F6F6;
$color-backgraund: #FAFAFA;
$color-border: #F1CDB3;
$color-pagination: #F1CDB3;
$color-title: #545454;
$color-link: #545454;
$color-button: #292929;
$color-subtitile: #292929;
$color-additional: #FAFAFA;
$color-text: #F1CDB3;
$color-hover: #FDDCC4;
$color-linkhover: #292929;
$color-line: #F1CDB3;
$color-inactive: #CDCDCD;
$color-light: #FAFAFA;
$color-contact:#F1CDB3;
$color-header: #ffffff;
$color-change: #ffffff;
$color-hamburger: #000000;
$cover-overlay: rgba(41, 41, 41, 0.6);
$color-marker: #F1CDB3;
$color-envelope:rgba(41, 41, 41, 0.6);

$content-width: 1280px;
$tablet-width: 769px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;