html {
    font-size: 10px;
    overflow-x:hidden;

}

body {
    font-size: 1.5rem;
    font-family: 'Georgia', Verdana, sans-serif;
    overflow-x:hidden;
}


h1{
    
    @include font($size: 3.2rem, $height: 110%, $weight: 400);

}

h2 {
    
    @include font ($size: 3.5rem, $height: 130%, $weight: 400);
    @include media-mobilesmall {
        @include font ($size: 2.5rem, $height: 130%, $weight: 400);

    }
}

h3 {
    
    @include font ($size: 2.0rem, $height: 2.3rem, $weight: 400px);
}
li {
    @extend %font-add;
    @include font ($size: 1.5rem, $height: 160%, $weight: 400);
    @include media-mobilesmall {
        @include font ($size: 3.2rem, $height: 160%, $weight: 400);
    }
    
}

h4 {
    @include font ($size: 2.0rem, $height: 115%, $weight: 400);
}

h5 {
    @include font ($size: 1.5rem, $height: 15px, $weight: 700);
}