.button {
    height: 52px;
    transition: all .3s;

}

.button__colored {
    width: 207px;
    background: $color-button;
    border: none;
    border-radius: 10.0rem;
    font-family: 'Georgia';
    @include font ($size: 1.7rem, $height: 130%, $weight: 400);
    color: $color-inside;
    letter-spacing: 0.06em;
    &:hover {
        cursor: pointer;
        background: $color-hover;       
    }
    a {
        text-decoration: none; 
        color: $color-inside;
    }
    
}

.button_bordered {
    width: 187px;
    height: 52px;
    border: 2px solid $color-border;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia', Verdana, sans-serif;
    @include font($size: 1.7rem, $height: 130%, $weight: 400);
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    &:hover {
        cursor: pointer;
        border: none;
        background: $color-hover;

    }
}

.card__button {
    // display: flex;
    width: 261px;
  
    margin: auto;
    letter-spacing: 0.06em;
    text-align: center; 
}

.circle__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;   
    border: 2px solid $color-pagination;
    box-sizing: border-box;
    border-radius: 100px;
    &:hover {
        cursor: pointer;
        background: $color-hover;
        border: none;
    }
   
}

